language: node_js
node_js:
 - "stable"
 services:
  - postgresql
env:
  global:
    - CC_TEST_REPORTER_ID=8962bed5ff369510949100055043152bad5a4be2e23d296376bd2efc34225791
before_script:
   - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
   - chmod +x ./cc-test-reporter
   - npm install
   - ./cc-test-reporter before-build  
   - psql -c "DROP DATABASE IF EXISTS travis_ci_test;" -U postgres
   - psql -c "CREATE DATABASE travis_ci_test;" -U postgres
script:
  - npm test
after_script:
  - npm run coverage
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
