@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,700,900|Source+Sans+Pro:400");
:root {
  --c1: #246bad;
  --c2: #4caf50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  color: rgb(72, 255, 0);
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-size: 16px;
  font-weight: 400;
  background: white;
  margin: 0 auto;
  font-family: "Roboto", "Lato", "Source Sans Pro", "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
    scroll-behavior: smooth;
}
.row {
  max-width: 1400px;
  margin: 0 auto;
}
.row3 {
  max-width: 1200px;
  margin: 0 auto;
}
.row2 {
  max-width: 1000px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}
label {
  font-size: 15px;
}
#danger{
  font-size: 14px;
  color: #dc3545;
  background-color: #fdabb2;;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

#success{
  font-size: 14px;
  color: #155724;
  background-color: #3ee969;
  border-color: #c3e6cb;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
#alert{
  margin: 0 auto; 
  text-align: center;
  margin-bottom: 20px;
}

#alert:hover { 
 cursor: pointer;
}
/*======================================================
                   index page
======================================================*/
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 5px -3px #f4f4f4;
}
header a {
  padding: 10px;
  color: #232c30;
  border: 0;
  display: block;
  background-color: transparent;
  transition: color 0.3s ease-out;
  letter-spacing: 1px;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #246bad;
}

.logo {
  padding: 10px;
  background: url(../images/Untitled-1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  margin-left: 20px;
}
.logo:hover{
cursor: pointer;
}
.nav-links li {
  float: left;
  margin: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.icon {
  display: none;
}
.clear {
  clear: both;
}
.index_main {
  background: linear-gradient(rgba(10, 10, 10, 0.466), rgba(10, 10, 10, 0.527)),
    url(../images/64627.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.text {
  background-color: white;
  color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  border-radius: 5px;
}

.text2 {
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: screen; */
  border-radius: 5px;
}

.index_main button {
  background: #e74c3c;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  width: 30%;
  border: none;
  margin: 0 30%;
  font-weight: bold;
  box-shadow: 0 6px 5px -3px #f4f4f4;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s;
}

.index_main button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
}

footer {
  text-align: center;
  padding: 10px;
}

/*======================================================
                  Sign Up Page
======================================================*/

.signup-section {
  background: #dae0e6;
  margin-top: 20px;
  padding: 20px;
}

.signup-section form {
  color: #000000;
  background: #fff;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  caret-color: transparent;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}
.form-control {
  display: block;
  border-radius: 3px;
  width: 100%;
  padding: 0.3em 0.55em;
  font-size: 1em;
  line-height: 1;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  outline: auto 5px #3f51b5;
  outline-offset: -2px;
}
.signup-section button,
.signin-section button {
  background: #edeff0;
  padding: 10px 20px;
  width: 50%;
  border: none;
  margin: 0 25%;
  font-weight: bold;
  box-shadow: 0 6px 5px -3px #f4f4f4;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s;
}

.signup-section button:hover,
.signin-section button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.form-group {
  margin-bottom: 0.5em;
}

.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

/*======================================================
                   Login Page
======================================================*/
.signin-section {
  padding-top: 20px;
  height: 82vh;
  margin-top: 20px;
  background: #dae0e6;
}
.signin-section form {
  background: #fff;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  margin-top: 20px;
}

/*======================================================
                  Meet Ups 
======================================================*/
.meetup_header {
  color: #0F1721;
  text-align: center;
  padding: 40px;
}
.meetup_section {
  display: flex;
  flex-wrap: wrap;
  background: url(../images/img4.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
}
.meetup-card {
  flex: 0 0 300px;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 20px 10px;
  background: #fff;
  box-shadow: 0 6px 5px -3px #f4f4f4;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.meetup-card h1{
  font-size: 20px;
  color: #2e3e48;
  font-weight: 600;
}
.meetup-card h4{
  font-size: 16px;
  color: #2e3e48;
  font-weight: 600;
}
.meetup-card h5{
  font-size: 14px;
  line-height: 1.6;
  color: #353e48;
  font-weight: 500;
}

.meetup-card:nth-child(3n + 1) {
  margin-left: 25px;
}
.meetup-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.meetup-card a:link {
  color: black;
}
.meetup-card a:visited {
  color: black;
}
.meetup-img {
  width: 260px;
}
.meetup-img img {
  width: 100%;
  height: auto;
}
.meetup-banner {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 300px;
  background: url(../images/meetup-example.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*======================================================
                 Questions
======================================================*/
.question-header {
  display: flex;
  margin-top: 20px;
  padding: 40px;
  border-bottom: 0.3px solid #246bad7a;
  flex-wrap: wrap;
}
.question-header-image {
  position: relative;
  flex: 0 1 500px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.question-header-meetup-details {
  flex: 0 1 500px;
}
.question-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
#meet_up-info p{
  font-size: 14px;
  line-height: 1.6;
}
#meet_up-info h2{
color: #2e3e48;
font-weight: 600;
line-height: 1.1;
}
.rsvp-form {
  margin-top: 20px;
}
.rsvp-form h4{
  color: #2e3e48;
}
.rsvp-form input[type="checkbox"] {
  color: #246bad;
}
.new-comment {
  position: absolute;
  bottom: 20px;
  right: 200px;
  font-size: 30px;
  color: #246bad;
}
.new-comment span {
  color: #fff;
  font-size: 0.7em;
  max-width: 0;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.new-comment:hover span {
  max-width: 14rem;
}

.question_section {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.questions {
  display: flex;
  border: 1px solid rgb(241, 236, 236);
  margin: 5px 5px;
  border-radius: 3px;
}
.questions:hover{
  background: #e6ecf0;;
}
.up-vote,
.down-vote {
  display: block;
  outline: none;
}
.vote_bar {
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  background: #ced4da;
}
#green{
  color: rgba(5, 161, 5, 0.753);
}
#red{
  color: rgba(255, 1, 1, 0.582);
}

.vote_bar button {
  color: black;
  background: none;
  border: 0px white;
  margin: 0 auto;
  font-size: 19px;
  cursor: pointer;
}

.vote_bar button:hover {
  background: rgb(189, 159, 159);
}

.questions-topic {
  margin-top: 20px;
  margin-left: 40px;
}
.questions-topic small {
  text-decoration: dotted underline black;
}

.new-question {
  flex: 0 1 300px;
  height: 300px;
  background-color: #246bad23;
  padding: 20px 20px 0px 20px;
  border-radius: 5px;
  /* border-right: 0.5px solid #246bad7a; */
}
#question-load {
  flex: 0 1 568px;
  margin-left: 40px;
}
.new-question-form button {
  display: block;
  padding: 5px 20px;
  background: #edeff0;
  border: none;
  margin-left: 10px;
  border: 0.3px solid #4caf50;
}
.new-question-form button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
}
/* .new-question-form div[contenteditable] { */
  /* padding: 3px;
  margin: 5px;
  width: 300px;
  border-radius: 3px;
  background: #ffff;
  outline: none; */
  /* it took the background of the container if not it wont show */
/* } */
#newQuestionTitle{
  display: block;
  line-height: 1;
  border: .5px solid rgb(169, 169, 169);
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  outline: none;
  width: 235px;
}
#newQuestionBody {
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  resize: none;
}
/*======================================================
                  Question Comment Modal
======================================================*/
.modal-topic-body {
  padding: 0 20px;
  background: #eaf1ec;
  padding-top: 20px;
  border-radius: 5px;
}
.modal-topic-body h3{
  font-size: 22px;
}
.modal-topic-body p{
  padding: 0 20px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .01em;
}
.modal-new-comment {
  padding-top: 10px;
  border-top: 0.5px solid #246bad7a;
  border-bottom: 0.5px solid #246bad7a;
}
.modal-new-comment h5{
  font-size: 15px;
}
.modal-comment {
  margin-left: 30px;
}

.modal-new-comment h5 {
  padding-left: 30px;
}
.comment-form textarea {
  border: 0.5px solid var(--c1);
  padding: 3px;
  margin: 5px;
  width: 500px;
  border-radius: 4px;
  height: 50px;
  margin-left: 30px;
  resize: none;
  font-family: "Segoe UI",Arial,sans-serif;
}
.comment-form button {
  padding: 5px 20px;
  background: #edeff0;
  border: none;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 0.5px solid var(--c1);
}
.comment-form button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
}

.show-comment {
  cursor: pointer;
}

#comment-close {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 5px;
}
#comment-close:hover {
  cursor: pointer;
}
#comment-container {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 1400px;
  position: fixed;
  top: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#comment-main {
  position: absolute;
  top: 20%;
  left: calc((100vw - 600px) / 2);
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
  margin-bottom: 100px;
}
.comments_bar{
    padding: 5px 0 5px 10px;
    border: 0.5px solid #246bad7a;
    border-radius: 10px;
    font-size: 14px;
    background: #f5f8fa;
}

/*======================================================
                  User Dashboard
======================================================*/
.user-dashboard-section {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #d9dde0af;
}

.user-details {
  flex: 0 0 191px;
  margin: 0 auto;
  text-align: center;
}
.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background: url(../images/avatar-svgrepo-com.svg);
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.user-statistic-bar {
  flex: 4;
  height: 100%;
  margin: 10px 10px 30px 10px;
}
.user-statistic {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.user-top-feed {
  width: calc(100% - 10%);
  height: calc(100% - 20%);
  margin: 10px;
}
.admin-top-feed button {
  padding: 5px 20px;
  background: #edeff0;
  border: none;
  border: 0.5px solid var(--c1);
}
.admin-top-feed button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
  cursor: pointer;
}
.user-statistic-1 {
  flex: 1 1 350px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(to right, #11998e, #38ef7d);
  transition: all 0.5s;
  padding-top: 30px;
  border-radius: 5px;
}
.user-statistic-1:hover,
.user-statistic-2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.user-statistic-2 {
  flex: 1 1 350px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  transition: all 0.5s;
  padding-top: 30px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  font-size: 14px;
}

th {
  text-align: center;
}
tr:nth-child(1) {
  color: #ffffff;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
  background-color: #2471ac;
}

/*======================================================
                 Admin Dashboard
======================================================*/
/* .admin-new-meetup-form div[contenteditable] {
  border: 0.3px solid rgb(243, 235, 235) !important;
  padding: 3px;
  margin-top: 5px;
  width: 300px;
  background: #fff;
  display: inline-block;
  border-radius: 5px;
  outline: none;
} */
.admin-new-meetup-form input[type="text"] {
  padding: 5px;
  border: 0.2px solid rgb(248, 237, 237);
  border-radius: 5px;
  outline: none;
}
.admin-new-meetup-form input[type="datetime-local"] {
  padding: 5px;
  border: 0.2px solid rgb(248, 237, 237);
  margin-bottom: 5px;
  border-radius: 5px;
  outline: none;
}

.admin-new-meetup-form button {
  padding: 5px 20px;
  background: #fff;
  border: none;
  margin-left: 12px;
  border-bottom: 0.5px solid var(--c2);
}
.admin-new-meetup-form button:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #4caf50;
}
.admin-new-meetup-form {
  padding: 20px;
  background: #564faf;
  color: #fffdfe;
}

/* loader */
.cs-loader {
  background: #232c30b6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/*======================================================
                 Media Queries
======================================================*/
/* @media(min-width: 1200px) {
} */
@media (max-width: 1199.98px) {
  .text {
    font-size: 24px;
  }
  .text2 {
    font-size: 20px;
  }

  .index_main button {
    padding: 5px 15px;
    font-size: 20px;
    width: 60%;
    margin: 0 18%;
  }
  .question-header-image {
    margin: 0;
}
}
@media (max-width: 991.98px) {
  .text {
    font-size: 18px;
  }
  .text2 {
    font-size: 15px;
  }

  .index_main button {
    padding: 5px 15px;
    font-size: 20px;
    width: 60%;
    margin: 0 18%;
  }

  #question-load {
    flex: 1;
    margin-left: 5px;
  }
  .new-question {
    flex: 0.7;
  }
 
}
@media (max-width: 767.98px) {
  .text {
    font-size: 18px;
    width: 60%;
  }
  .text2 {
    font-size: 15px;
    width: 60%;
  }

  .index_main button {
    padding: 5px 15px;
    font-size: 20px;
    width: 60%;
    margin: 0 18%;
  }

  #question-load {
    margin-left: 5px;
    flex: 1 1 300px;
  }
  .new-question {
    padding-left: 110px;
    margin: 5px;
    flex: 1 1 200px;
  }
  .questions-topic {
    margin-top: 5px;
    margin-left: 10px;
  }
 
}
@media (max-width: 575.98px) {
  /* .body{
    font-size: 8px;
  } */
  .text {
    font-size: 18px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
  }
  .text2 {
    font-size: 15px;
    padding: 10px;
    width: 80%;
  }

  .index_main button {
    padding: 5px 15px;
    font-size: 15px;
    width: 60%;
    margin: 0 18%;
  }

  .topnav a.icon {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0px;
    background: #00000042;
    padding: 13px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: rgb(7, 7, 7);
  }
  .nav-links {
    display: none;
    animation: scale-display .3s;
  }
  @keyframes scale-display {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  header {
    display: block;
  }

  .logo {
    height: 50px;
  }
  .nav-links li {
    display: block;
    float: none;
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
  }
 
  .meetup_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-row {
    display: block;
    flex-wrap: nowrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .col-2 {
    max-width: 100%;
  }

  .question-header-image {
    height: 200px;
  }
  #question-load {
    margin-left: 5px;
    flex: 1 0 300px;
  }
  .new-question {
    padding-left: 30px;
    margin: 5px;
    flex: 1;
  }
  .questions-topic {
    margin-top: 5px;
    margin-left: 10px;
  }
  #count {
    text-align: center;
  }
  /* .new-question-form div[contenteditable] {
    width: 250px;
  } */
  .user-statistic-bar {
    margin-left: 0px;
  }

  td {
    font-size: 12px;
  }
  #comment-main {
    position: absolute;
    top: 10%;
    left: calc((100vw - 300px) / 2);
    width: 300px;
  }
  .comment-form textarea {
    width: 250px;
  }
  #danger,
  #success
  {
    font-size: 10px;
  }

  .modal-topic-body p {
    padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .01em;
}
.modal-topic-body h3{
  font-size: 20px;
}
.modal-comment {
  margin-left: 5px;
}
.comment-form textarea {
  margin-left: 10px;
}
}
